[package]
name = "kaspa-notify"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
addresses.workspace = true
kaspa-core.workspace = true
kaspa-utils.workspace = true
serde.workspace = true
derive_more.workspace = true
thiserror.workspace = true
borsh.workspace = true
async-channel.workspace = true
log.workspace = true
futures-util.workspace = true
async-trait = "0.1.57"
futures = { version = "0.3" }
rand = "0.8"
triggered = "0.1"
workflow-core = "0.3"
paste = "1.0.11"

[dev-dependencies]
tokio = { workspace = true, features = ["rt", "macros"] }
