[package]
name = "kaspa-wrpc-vcc-v2"
description = "Kaspa VCCV2 example"
publish = false
rust-version.workspace = true
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
futures.workspace = true
kaspa-rpc-core.workspace = true
kaspa-wrpc-client.workspace = true
kaspa-addresses.workspace = true
tokio.workspace = true


[lints]
workspace = true
