target
web-root
**/.idea/
/rust-toolchain
/.vscode/
**/db-*
/testing/integration/testdata/dags_for_json_tests/goref-mainnet
/testing/integration/testdata/dags_for_json_tests/goref-1.6M-tx-10K-blocks
analyzer-target
.DS_Store
*.code-workspace
/setup
testing/integration/perflogs*
Servers.toml
release
package-sizes.js
