target
web-root
/.idea/*
/rust-toolchain
/.vscode/
**/db-*
/consensus/tests/testdata/dags_for_json_tests/goref-mainnet
/consensus/tests/testdata/dags_for_json_tests/goref-1.6M-tx-10K-blocks
analyzer-target
