[workspace]
members = [
    "core",
    "wallet/core",
    "wallet/cli",
    "wallet/native",
    "wallet/wasm",
    "wallet/bip32",
    "consensus",
    "consensus/core",
    "consensus/notify",
    "consensus/pow",
    "kaspad",
    "simpa",
    "wasm",
    "math",
    "crypto/hashes",
    "crypto/muhash",
    "crypto/addresses",
    "crypto/merkle",
    "notify",
    "indexes/core",
    "indexes/processor",
    "indexes/utxoindex",
    "rpc/macros",
    "rpc/core",
    "rpc/service",
    "rpc/grpc/core",
    "rpc/grpc/client",
    "rpc/grpc/server",
    "rpc/core",
    "rpc/wrpc/server",
    "rpc/wrpc/client",
    "rpc/wrpc/proxy",
    "rpc/wrpc/wasm",
    "mining",
    "protocol/p2p",
    "protocol/flows",
    "components/addressmanager",
    "components/connectionmanager",
    "components/consensusmanager",
    "database",
    "crypto/txscript",
    "crypto/txscript/errors",
    "testing/integration",
    "utils",
    "rothschild",
]

[workspace.package]
version = "0.1.5"
authors = ["Kaspa developers"]
license = "MIT/Apache-2.0"
edition = "2021"
include = [
    "src/**/*.rs",
    "src/**/*.s",
    "src/**/*.r",
    "proto/**/*.proto",
    "benches/**/*.rs",
    "build.rs",
    "Cargo.toml",
    "Cargo.lock",
]

[workspace.dependencies]
kaspa-addressmanager = { version = "0.1.5", path = "components/addressmanager" }
kaspa-connectionmanager = { version = "0.1.5", path = "components/connectionmanager" }
kaspa-mining = { version = "0.1.5", path = "mining" }
kaspa-p2p-flows = { version = "0.1.5", path = "protocol/flows" }
kaspa-p2p-lib = { version = "0.1.5", path = "protocol/p2p" }
# kaspa-testing-integration = { version = "0.1.2", path = "testing/integration" }
kaspa-utxoindex = { version = "0.1.5", path = "indexes/utxoindex" }
kaspa-addresses = { version = "0.1.5", path = "crypto/addresses" }
kaspa-bip32 = { version = "0.1.5", path = "wallet/bip32" }
kaspa-consensus = { version = "0.1.5", path = "consensus" }
kaspa-consensus-core = { version = "0.1.5", path = "consensus/core" }
kaspa-consensus-notify = { version = "0.1.5", path = "consensus/notify" }
kaspa-core = { version = "0.1.5", path = "core" }
kaspa-database = { version = "0.1.5", path = "database" }
kaspa-grpc-client = { version = "0.1.5", path = "rpc/grpc/client" }
kaspa-grpc-core = { version = "0.1.5", path = "rpc/grpc/core" }
kaspa-hashes = { version = "0.1.5", path = "crypto/hashes" }
kaspa-math = { version = "0.1.5", path = "math" }
kaspa-merkle = { version = "0.1.5", path = "crypto/merkle" }
kaspa-muhash = { version = "0.1.5", path = "crypto/muhash" }
kaspa-notify = { version = "0.1.5", path = "notify" }
kaspa-pow = { version = "0.1.5", path = "consensus/pow" }
kaspa-rpc-core = { version = "0.1.5", path = "rpc/core" }
kaspa-rpc-macros = { version = "0.1.5", path = "rpc/macros" }
kaspa-txscript = { version = "0.1.5", path = "crypto/txscript" }
kaspa-txscript-errors = { version = "0.1.5", path = "crypto/txscript/errors" }
kaspa-utils = { version = "0.1.5", path = "utils" }
kaspa-wallet-core = { version = "0.1.5", path = "wallet/core" }
kaspa-wasm = { version = "0.1.5", path = "wasm" }
kaspa-wrpc-client = { version = "0.1.5", path = "rpc/wrpc/client" }
kaspa-wrpc-wasm = { version = "0.1.5", path = "rpc/wrpc/wasm" }
kaspa-grpc-server = { version = "0.1.5", path = "rpc/grpc/server" }
kaspa-index-core = { version = "0.1.5", path = "indexes/core" }
kaspa-index-processor = { version = "0.1.5", path = "indexes/processor" }
kaspa-wallet-cli = { version = "0.1.5", path = "wallet/cli" }
kaspa-wallet = { version = "0.1.5", path = "wallet/native" }
kaspa-wallet-cli-wasm = { version = "0.1.5", path = "wallet/wasm" }
kaspa-wrpc-proxy = { version = "0.1.5", path = "rpc/wrpc/proxy" }
kaspa-wrpc-server = { version = "0.1.5", path = "rpc/wrpc/server" }
kaspad = { version = "0.1.5", path = "kaspad" }
kaspa-consensusmanager = { version = "0.1.5", path = "components/consensusmanager" }
kaspa-rpc-service = { version = "0.1.5", path = "rpc/service" }

# external
thiserror = "1"
faster-hex = "0.6"
itertools = "0.10"
rand = "0.8"
rand_chacha = "0.3"
rayon = "1"
tempfile = "3.3"
blake2b_simd = "1"
sha2 = "0.10"
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1.0.91"
serde-wasm-bindgen = "0.4.5"
futures-util = { version = "0.3", default-features = false, features = [
    "alloc",
] }
futures = { version = "0.3" }
bincode = { version = "1", default-features = false }
tokio = { version = "1", features = ["sync", "rt-multi-thread"] }
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }
criterion = { version = "0.4", default-features = false }
indexmap = "1.9.1"
parking_lot = "0.12"
smallvec = { version = "1.10.0", features = ["serde"] }
borsh = { version = "0.9.1", features = ["rc"] } # please keep this fixed
async-std = { version = "1.12.0", features = ['attributes'] }
async-channel = "1.8.0"
clap = { version = "4.0.23", features = ["derive", "string", "cargo"] }
derive_more = { version = "0.99" }
log = "0.4"
cfg-if = "1.0.0"
rocksdb = "0.19"
num_cpus = "1.15.0"
async-trait = "0.1.57"
paste = "1.0.11"
regex = "1.6.0"
pad = "0.1.6"
convert_case = "0.5.0"
wasm-bindgen-futures = "0.4.33"
js-sys = "0.3.61"
web-sys = "0.3.61"
getrandom = { version = "0.2.8", features = ["js"] }
home = "0.5.4"
base64 = "0.21.0"
chacha20poly1305 = "0.10.1"
heapless = "0.7.16"
downcast = "0.11.0"
argon2 = "0.5.0"
uuid = { version = "1.2.2", features = ["v4", "fast-rng", "serde"] }
# pbkdf2 = "0.12.1"
sha1 = "0.10.5"
aes = "0.8.2"
cfb-mode = "0.8.2"
evpkdf = "0.2.0"
md-5 = "0.10.5"
derivative = "2.2.0"
num = "0.4.0"

# bip32 dependencies
rand_core = { version = "0.6", features = ["std"] }
bs58 = { version = "0.4", features = ["check"], default-features = false }
hmac = { version = "0.12", default-features = false }
secp256k1 = { version = "0.24", features = ["global-context", "rand-std"] }
#sha2 = {version = "0.10", default-features = false}
zeroize = { version = "1", default-features = false, features=["alloc"] }
ripemd = { version = "0.1", default-features = false }
subtle = { version = "2", default-features = false }
once_cell = { version = "1" }
pbkdf2 = { version = "0.12.1" }
# pbkdf2 = { version = "0.11", default-features = false}

# workflow dependencies
workflow-log = { version = "0.3.17" }
workflow-core = { version = "0.3.17" }
workflow-wasm = { version = "0.3.17" }
workflow-dom = { version = "0.3.17" }
workflow-rpc = { version = "0.3.17" }
workflow-node = { version = "0.3.17" }
workflow-store = { version = "0.3.17" }
workflow-terminal = { version = "0.3.17" }

# workflow-log = { path = "../workflow-rs/log" }
# workflow-core = { path = "../workflow-rs/core" }
# workflow-wasm = { path = "../workflow-rs/wasm" }
# workflow-dom = { path = "../workflow-rs/dom" }
# workflow-rpc = { path = "../workflow-rs/rpc" }
# workflow-node = { path = "../workflow-rs/node" }
# workflow-store = { path = "../workflow-rs/store" }
# workflow-terminal = { path = "../workflow-rs/terminal" }

[profile.release]
lto = "thin"
strip = true
