[workspace]
members = [
    "core",
    "wallet/core",
    "wallet/cli",
    "wallet/native",
    "wallet/wasm",
    "wallet/bip32",
    "consensus",
    "consensus/core",
    "consensus/notify",
    "consensus/pow",
    "kaspad",
    "simpa",
    "wasm",
    "math",
    "crypto/hashes",
    "crypto/muhash",
    "crypto/addresses",
    "crypto/merkle",
    "notify",
    "indexes/core",
    "indexes/processor",
    "indexes/utxoindex",
    "rpc/core",
    "rpc/grpc/core",
    "rpc/grpc/client",
    "rpc/grpc/server",
    "rpc/macros",
    "rpc/wrpc/client",
    "rpc/wrpc/server",
    "rpc/wrpc/proxy",
    "rpc/wrpc/wasm",
    "mining",
    "protocol/p2p",
    "protocol/flows",
    "components/addressmanager",
    "database",
    "crypto/txscript",
    "crypto/txscript/errors",
    "testing/integration",
]

[workspace.package]
version = "0.1.0"
authors = ["Kaspa developers"]
license = "MIT/Apache-2.0"
edition = "2021"
include = ["src/**/*.rs", "Cargo.toml"]

[workspace.dependencies]
kaspa-core = { path = "core" }
# kaspa-wallet = { path = "wallet" }
consensus = { path = "consensus" }
consensus-core = { path = "consensus/core" }
consensus-notify = { path = "consensus/notify" }
kaspad = { path = "kaspad" }
math = { path = "math" }
hashes = { path = "crypto/hashes" }
muhash = { path = "crypto/muhash" }
addresses = { path = "crypto/addresses" }
merkle = { path = "crypto/merkle" }
pow = { path = "consensus/pow" }
kaspa-index-core = { path = "indexes/core" }
kaspa-index-processor = { path = "indexes/processor" }
utxoindex = { path = "indexes/utxoindex" }
kaspa-utils = { path = "utils" }
kaspa-notify = { path = "notify" }
kaspa-rpc-core = { path = "rpc/core" }
kaspa-grpc-core = { path = "rpc/grpc/core" }
kaspa-grpc-client = { path = "rpc/grpc/client" }
kaspa-grpc-server = { path = "rpc/grpc/server" }
kaspa-rpc-macros = { path = "rpc/macros" }
kaspa-wrpc-client = { path = "rpc/wrpc/client" }
kaspa-wrpc-server = { path = "rpc/wrpc/server" }
kaspa-wrpc-proxy = { path = "rpc/wrpc/proxy" }
kaspa-wrpc-wasm = { path = "rpc/wrpc/wasm" }
kaspa-wallet-core = { path = "wallet/core" }
kaspa-wallet-cli = { path = "wallet/cli" }
kaspa-wallet-cli-native = { path = "wallet/native" }
kaspa-wallet-cli-wasm = { path = "wallet/wasm" }
kaspa-wasm = { path = "wasm" }
kaspa-bip32 = { path = "wallet/bip32" }
p2p-lib = { path = "protocol/p2p" }
p2p-flows = { path = "protocol/flows" }
mining = { path = "mining" }
txscript = { path = "crypto/txscript" }
txscript-errors = { path = "crypto/txscript/errors" }
addressmanager = { path = "components/addressmanager" }
connectionmanager = { path = "components/connectionmanager" }
database = { path = "database" }
testing-integration = { path = "testing/integration" }

thiserror = "1"
faster-hex = "0.6"
itertools = "0.10"
rand = "0.8"
rand_chacha = "0.3"
rayon = "1"
tempfile = "3.3"
blake2b_simd = "1"
sha2 = "0.10"
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1.0.91"
serde-wasm-bindgen = "0.4.5"
futures-util = { version = "0.3", default-features = false, features = [
    "alloc",
] }
futures = { version = "0.3" }
bincode = { version = "1", default-features = false }
tokio = { version = "1", features = ["sync","rt-multi-thread"] }
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }
criterion = { version = "0.4", default-features = false }
indexmap = "1.9.1"
parking_lot = "0.12"
smallvec = { version = "1.10.0", features = ["serde"] }
borsh = { version = "0.9.1", features = ["rc"] } # please keep this fixed
async-std = { version = "1.12.0", features = ['attributes'] }
async-channel = "1.8.0"
clap = { version = "4.0.23", features = ["derive", "string","cargo"] }
derive_more = { version = "0.99" }
log = "0.4"
cfg-if = "1.0.0"
rocksdb = "0.19"
num_cpus = "1.15.0"
async-trait = "0.1.57"
paste = "1.0.11"
regex = "1.6.0"
pad = "0.1.6"
convert_case = "0.5.0"
wasm-bindgen-futures="0.4.33"
js-sys = "0.3.61"
web-sys = "0.3.61"
getrandom = { version = "0.2.8", features = ["js"] }
home = "0.5.4"
base64 = "0.21.0"

# bip32 dependencies
rand_core = { version = "0.6", features = ["std"] }
bs58 = { version = "0.4", features = ["check"], default-features = false}
hmac = {version = "0.12", default-features = false}
secp256k1 = { version = "0.24", features = ["global-context", "rand-std"] }
#sha2 = {version = "0.10", default-features = false}
zeroize = {version = "1", default-features = false, features=["alloc"]}
ripemd = {version = "0.1", default-features = false}
subtle = {version = "2", default-features = false}
once_cell = {version = "1"}
pbkdf2 = {version = "0.11", default-features = false}

# workflow dependencies
# workflow-log = { version = "0.3.12" }
# workflow-core = { version = "0.3.12" }
# workflow-wasm = { version = "0.3.12" }
# workflow-dom = { version = "0.3.12" }
# workflow-rpc = { version = "0.3.12" }
# workflow-terminal = { version = "0.3.12" }

workflow-log = { path = "../workflow-rs/log" }
workflow-core = { path = "../workflow-rs/core" }
workflow-wasm = { path = "../workflow-rs/wasm" }
workflow-dom = { path = "../workflow-rs/dom" }
workflow-rpc = { path = "../workflow-rs/rpc" }
workflow-terminal = { path = "../workflow-rs/terminal" }

