[package]
name = "kaspa-txscript"
description = "Kaspa txscript engine library"
rust-version.workspace = true
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true

[[example]]
name = "kip-10"

[[example]]
name = "covenants"

[[example]]
name = "covenant-state-transition"

[features]
wasm32-core = []
wasm32-sdk = []

[dependencies]
ark-groth16.workspace = true
ark-ec.workspace = true
ark-bn254.workspace = true
ark-serialize.workspace = true
ark-snark.workspace = true
ark-relations.workspace = true
blake2b_simd.workspace = true
borsh.workspace = true
cfg-if.workspace = true
faster-hex.workspace = true
hexplay.workspace = true
indexmap.workspace = true
itertools.workspace = true
kaspa-addresses.workspace = true
kaspa-consensus-core.workspace = true
kaspa-hashes.workspace = true
kaspa-txscript-errors.workspace = true
kaspa-utils.workspace = true
kaspa-wasm-core.workspace = true
log.workspace = true
parking_lot.workspace = true
rand.workspace = true
secp256k1.workspace = true
serde_json.workspace = true
serde-wasm-bindgen.workspace = true
serde.workspace = true
sha2.workspace = true
smallvec.workspace = true
thiserror.workspace = true
wasm-bindgen.workspace = true
workflow-wasm.workspace = true
risc0-groth16.workspace = true
risc0-circuit-recursion.workspace = true
risc0-zkp.workspace = true
risc0-core.workspace = true
risc0-binfmt.workspace = true
bytemuck.workspace = true
once_cell.workspace = true

[dev-dependencies]
criterion.workspace = true
smallvec.workspace = true
serde_json.workspace = true
rayon.workspace = true

[[bench]]
name = "zk_precompiles"
path = "benches/zk_precompiles.rs"
harness = false

[lints]
workspace = true
