[package]
name = "kaspa-txscript"
description = "Kaspa txscript engine library"
rust-version.workspace = true
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true
build = "build.rs"

[[example]]
name = "kip-10"

[features]
wasm32-core = ["dep:kaspa-utils", "dep:kaspa-wasm-core"]
wasm32-sdk = ["wasm32-core", "kaspa-consensus-core/wasm32-sdk"]

[dependencies]
ark-bn254.workspace = true
ark-ec.workspace = true
ark-groth16.workspace = true
ark-relations.workspace = true
ark-serialize.workspace = true
ark-snark.workspace = true
blake2b_simd.workspace = true
borsh.workspace = true
cfg-if.workspace = true
faster-hex.workspace = true
hexplay.workspace = true
indexmap.workspace = true
itertools.workspace = true
kaspa-addresses.workspace = true
kaspa-consensus-core.workspace = true
kaspa-hashes.workspace = true
kaspa-txscript-errors.workspace = true
kaspa-utils = { workspace = true, optional = true }
kaspa-wasm-core = { workspace = true, optional = true }
log.workspace = true
parking_lot.workspace = true
rand.workspace = true
risc0-binfmt.workspace = true
risc0-circuit-recursion.workspace = true
risc0-core.workspace = true
risc0-zkp.workspace = true
secp256k1.workspace = true
serde-wasm-bindgen.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
smallvec.workspace = true
thiserror.workspace = true
wasm-bindgen.workspace = true
workflow-wasm.workspace = true

[build-dependencies]
cc = { workspace = true }

[dev-dependencies]
bytemuck.workspace = true
criterion.workspace = true
rayon.workspace = true
serde_json.workspace = true
smallvec.workspace = true

[[bench]]
name = "zk_precompiles"
path = "benches/zk_precompiles.rs"
harness = false

[lints]
workspace = true
