[package]
name = "kaspa-txscript"
description = "Kaspa txscript engine library"
rust-version.workspace = true
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true

[[example]]
name = "kip-10"

[features]
wasm32-core = []
wasm32-sdk = []

[dependencies]
blake2b_simd.workspace = true
borsh.workspace = true
cfg-if.workspace = true
hexplay.workspace = true
indexmap.workspace = true
itertools.workspace = true
kaspa-addresses.workspace = true
kaspa-consensus-core.workspace = true
kaspa-hashes.workspace = true
kaspa-txscript-errors.workspace = true
kaspa-utils.workspace = true
kaspa-wasm-core.workspace = true
log.workspace = true
parking_lot.workspace = true
rand.workspace = true
secp256k1.workspace = true
serde_json.workspace = true
serde-wasm-bindgen.workspace = true
serde.workspace = true
sha2.workspace = true
smallvec.workspace = true
thiserror.workspace = true
wasm-bindgen.workspace = true
workflow-wasm.workspace = true
risc0-groth16={path = "/Users/saefstroem/Documents/GitHub/risc0/risc0/groth16",default-features = false}
risc0-circuit-recursion = {path = "/Users/saefstroem/Documents/GitHub/risc0/risc0/circuit/recursion",default-features = false}
risc0-circuit-keccak = {path = "/Users/saefstroem/Documents/GitHub/risc0/risc0/circuit/keccak",default-features = false}
risc0-zkp = {path = "/Users/saefstroem/Documents/GitHub/risc0/risc0/zkp",default-features = false}
risc0-core={path = "/Users/saefstroem/Documents/GitHub/risc0/risc0/core",default-features = false}
risc0-binfmt={path = "/Users/saefstroem/Documents/GitHub/risc0/risc0/binfmt",default-features = false}
anyhow = "1.0.100"
tracing = "0.1.41"
hex.workspace = true
bytemuck = "1.24.0"
[dev-dependencies]
criterion.workspace = true
smallvec.workspace = true
hex.workspace = true
serde_json.workspace = true

[[bench]]
name = "bench"
harness = false

[lints]
workspace = true
