[package]
name = "kaspa-testing-integration"
publish = false
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
kaspa-pow.workspace = true
kaspa-math.workspace = true
kaspa-addresses.workspace = true
kaspa-hashes.workspace = true
kaspa-merkle.workspace = true
kaspa-core.workspace = true
kaspa-consensus-core.workspace = true
kaspa-consensus-notify.workspace = true
kaspa-consensus.workspace = true
kaspa-consensusmanager.workspace = true
kaspad.workspace = true
kaspa-grpc-client.workspace = true
kaspa-rpc-core.workspace = true
kaspa-notify.workspace = true

faster-hex.workspace = true
thiserror.workspace = true
serde.workspace = true
itertools.workspace = true
futures-util.workspace = true
tokio.workspace = true
bincode.workspace = true
tempfile.workspace = true
rayon.workspace = true
rand.workspace = true
indexmap.workspace = true
smallvec.workspace = true
kaspa-utils.workspace = true
log.workspace = true
kaspa-muhash.workspace = true
parking_lot.workspace = true
kaspa-txscript.workspace = true
rocksdb.workspace = true
kaspa-database.workspace = true
kaspa-utxoindex.workspace = true
kaspa-index-processor.workspace = true
kaspa-bip32.workspace = true
kaspa-wrpc-server.workspace = true

crossbeam-channel = "0.5"
async-channel = "1.8.0"
secp256k1 = { version = "0.24", features = ["global-context", "rand-std"] }
flate2 = "1"
rand_distr = "0.4"
serde_json = "1.0"

[dev-dependencies]
criterion.workspace = true
rand = { workspace = true, features = ["small_rng"] }
tokio = { workspace = true, features = ["rt", "macros"] }
kaspa-txscript-errors.workspace = true
port-selector = "0.1.6"

[features]
html_reports = []
