[package]
name = "kaspa-consensusmanager"
description = "Kaspa consensus library"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
itertools.workspace = true
kaspa-consensus-core.workspace = true
kaspa-core.workspace = true
kaspa-utils.workspace = true
log.workspace = true
parking_lot.workspace = true
tokio.workspace = true
