[package]
name = "kaspad"
description = "Kaspa full node daemon"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
hashes.workspace = true
kaspa-core.workspace = true
consensus-core.workspace = true
consensus.workspace = true
rpc-core.workspace = true
rpc-grpc.workspace = true
utxoindex.workspace = true

thiserror.workspace = true
futures-util.workspace = true
rand.workspace = true
rayon.workspace = true
tempfile.workspace = true
tokio = { workspace = true, features = ["rt", "macros", "rt-multi-thread"] }
clap.workspace = true
log.workspace = true
rand_distr = "0.4"
num-format = "0.4"
dirs = "4.0"
