[package]
name = "kaspad"
version = "0.1.0"
description = "Kaspa full node daemon"
edition = "2021"
authors = ["Kaspa developers"]
include = [
"src/**/*.rs",
]

[dependencies]
hex = "0.4.3"
thiserror = "1.0.31"
rand_distr = "0.4.3"
rand = "0.8"
tempfile = "3.3.0"
rayon = "1.5.3"
num-format = "0.4.0"

misc = {path="../misc"}
hashes = {path="../crypto/hashes"}
kaspa-core = {path="../core"}
consensus-core = {path="../consensus/core"}
consensus = {path="../consensus"}
