[package]
name = "kaspa-txscript-errors"
description = "Kaspa txscript errors"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror.workspace = true
secp256k1 ={version="0.24"}