[package]
name = "kaspa-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
futures-util.workspace = true
tokio = { workspace = true, features = ["rt", "macros", "rt-multi-thread"] }
wasm-bindgen.workspace = true
ctrlc = "3.2"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
intertrait = "0.2"
