[package]
name = "kaspa-rpc-core"
description = "Kaspa RPC core"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
kaspa-consensus-core.workspace = true
kaspa-consensus-notify.workspace = true
kaspa-addresses.workspace = true
kaspa-hashes.workspace = true
kaspa-math.workspace = true
kaspa-core.workspace = true
kaspa-utils.workspace = true
kaspa-notify.workspace = true
kaspa-index-core.workspace = true
kaspa-txscript.workspace = true
faster-hex.workspace = true
serde.workspace = true
derive_more.workspace = true
thiserror.workspace = true
borsh.workspace = true
async-channel.workspace = true
log.workspace = true
smallvec.workspace = true
cfg-if.workspace = true
futures-util.workspace = true
serde-wasm-bindgen.workspace = true
wasm-bindgen.workspace = true

async-trait = "0.1.57"
futures = { version = "0.3" }
rand = "0.8"
triggered = "0.1"
workflow-core.workspace = true
paste.workspace = true
