[package]
name = "kaspa-rpc-core"
description = "Kaspa RPC core"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
kaspa-consensus-core.workspace = true
kaspa-consensus-notify.workspace = true
kaspa-addresses.workspace = true
kaspa-hashes.workspace = true
kaspa-utils.workspace = true
kaspa-notify.workspace = true
kaspa-index-core.workspace = true
kaspa-txscript.workspace = true
kaspa-math.workspace = true
kaspa-mining-errors.workspace = true

faster-hex.workspace = true
serde.workspace = true
derive_more.workspace = true
thiserror.workspace = true
borsh.workspace = true
async-channel.workspace = true
log.workspace = true
smallvec.workspace = true
serde-wasm-bindgen.workspace = true
wasm-bindgen.workspace = true
async-trait.workspace = true
workflow-core.workspace = true
paste.workspace = true
downcast.workspace = true
uuid.workspace = true
workflow-wasm.workspace = true

[dev-dependencies]
serde_json.workspace = true
