[package]
name = "kaspa-rpc-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
consensus-core.workspace = true
consensus-notify.workspace = true
addresses.workspace = true
hashes.workspace = true
math.workspace = true
kaspa-core.workspace = true
kaspa-utils.workspace = true
kaspa-notify.workspace = true
kaspa-index-processor.workspace = true
utxoindex.workspace = true
faster-hex.workspace = true
serde.workspace = true
derive_more.workspace = true
thiserror.workspace = true
borsh.workspace = true
async-channel.workspace = true
log.workspace = true
smallvec.workspace = true
cfg-if.workspace = true
futures-util.workspace = true
event-processor.workspace = true

async-trait = "0.1.57"
futures = { version = "0.3" }
rand = "0.8"
triggered = "0.1"
workflow-core = "0.3"
paste = "1.0.11"
