[package]
name = "kaspa-wasm"
description = "KASPA WASM bindings"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
# wasm-pack requires this value to be a string
# (it can not be derived from the workspace)
license = "MIT/Apache-2.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
kaspa-core.workspace = true
kaspa-wallet-core.workspace = true
wasm-bindgen.workspace = true
kaspa-addresses.workspace = true
kaspa-utils.workspace = true
kaspa-rpc-core.workspace = true
kaspa-wrpc-client.workspace = true
kaspa-consensus-core.workspace = true
kaspa-pow.workspace = true
num.workspace = true
kaspa-math.workspace = true
workflow-log.workspace = true
js-sys.workspace = true

[features] 
wallet = [] 
full = ["wallet"] 
default = [] 

[package.metadata.docs.rs]
targets = ["wasm32-unknown-unknown"]

[package.metadata.emanate.wasm]
targets = [
    { target = "nodejs", out-dir = "nodejs/kaspa" },
    { target = "web", out-dir = "web/kaspa" }
]
folder = "setup"
