[package]
name = "kaspa-wrpc-client"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
async-std.workspace = true
async-trait.workspace = true
borsh.workspace = true
futures.workspace = true
js-sys.workspace = true
kaspa-rpc-macros.workspace = true
paste.workspace = true
regex.workspace = true
rpc-core.workspace = true
serde_json.workspace = true
serde-wasm-bindgen.workspace = true
serde.workspace = true
thiserror.workspace = true
wasm-bindgen-futures.workspace = true
wasm-bindgen.workspace = true
workflow-core.workspace = true
workflow-log.workspace = true
workflow-rpc.workspace = true
workflow-websocket.workspace = true