.graph {
    display: block;
    min-width: 300px;
    max-width: 500px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    box-sizing:border-box;
    margin:5px;
}
.graph canvas{
    width:100%;
    height:100%;
}
