[package]
name = "kaspa-grpc-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
thiserror.workspace = true
kaspa-addressmanager.workspace = true
kaspa-notify.workspace = true
kaspa-rpc-core.workspace = true
kaspa-utils.workspace = true
kaspa-core.workspace = true
faster-hex.workspace = true
async-channel.workspace = true
log.workspace = true
rand.workspace = true
async-trait = "0.1.57"
futures = { version = "0.3" }
tonic = { version = "0.9.1", features = ["tls", "gzip"] }
prost = { version = "0.11" }
h2 = "0.3"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros", "sync", "time"] }
tokio-stream = "0.1"
async-stream = "0.3"
triggered = "0.1"
paste = "1.0.11"
regex.workspace = true

[build-dependencies]
tonic-build = { version = "0.9.1", features = ["prost"] }
