[package]
name = "kaspa-pow"
description = "Kaspa proof-of-work"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true


[dependencies]
kaspa-hashes.workspace = true
kaspa-math.workspace = true
kaspa-consensus-core.workspace = true
wasm-bindgen.workspace = true
js-sys.workspace = true


[dev-dependencies]
criterion.workspace = true


[[bench]]
name = "bench"
harness = false