[package]
name = "consensus"
version = "0.1.0"
description = "Kaspa consensus lib"
edition = "2021"
authors = ["Kaspa developers"]
include = [
"src/**/*.rs",
]

[dependencies]
async-std = "1.11.0"
regex = "1"
hex = "0.4.3"
thiserror = "1.0.31"
serde = { version = "1.0", features = ["derive", "rc"] }
rocksdb = "0.18.0"
moka = "0.9"
bincode = "1.3.3"
parking_lot = "0.12.1"
crossbeam-channel="0.5"
crossbeam = "*"

hashes = {path="../crypto/hashes"}
consensus-core = {path="./core"}
kaspa-core = {path="../core"}
misc = {path="../misc"}

[dev-dependencies]
criterion = "0.3.6"
serde_json = "1.0"
flate2 = "1.0.24"
rand = "0.8"
tempfile = "3.3.0"

[[bench]]
name = "hash_benchmarks"
harness = false

[features]
html_reports = []
