[package]
name = "consensus"
description = "Kaspa consensus lib"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
pow.workspace = true
math.workspace = true
hashes.workspace = true
merkle.workspace = true
kaspa-core.workspace = true
consensus-core.workspace = true
faster-hex.workspace = true
thiserror.workspace = true
serde.workspace = true
itertools.workspace = true
futures-util.workspace = true
tokio.workspace = true
bincode.workspace = true
tempfile.workspace = true
rayon.workspace = true
rand.workspace = true
indexmap.workspace = true
smallvec.workspace = true
kaspa-utils.workspace = true
log.workspace = true
muhash.workspace = true
parking_lot.workspace = true
txscript.workspace = true
rocksdb.workspace = true
database.workspace = true

crossbeam-channel = "0.5"
async-channel = "1.8.0"
secp256k1 = { version = "0.24", features = ["global-context", "rand-std"] }

[dev-dependencies]
criterion.workspace = true
rand = {workspace = true,  features = [ "small_rng" ]}
tokio = { workspace = true, features = ["rt", "macros"] }
serde_json = "1.0"
flate2 = "1"
rand_distr = "0.4"
txscript-errors.workspace = true

[[bench]]
name = "hash_benchmarks"
harness = false

[features]
html_reports = []
