[package]
name = "consensus"
version = "0.1.0"
description = "Kaspa consensus lib"
edition = "2021"
authors = ["Kaspa developers"]
include = ["src/**/*.rs"]

[dependencies]
faster-hex = "0.6"
thiserror = "1.0.31"
serde = { version = "1.0", features = ["derive", "rc"] }
rocksdb = "0.19.0"
moka = "0.9"
bincode = "1.3.3"
parking_lot = "0.12.1"
crossbeam-channel = "0.5"
rayon = "1.5.3"
tokio = { version = "1.20.1", features = ["sync"] }
tempfile = "3.3.0"
itertools = "0.10.3"
futures = "0.3.23"
num-bigint = "0.4.3"


hashes = { path = "../crypto/hashes" }
muhash = { path = "../crypto/muhash" }
merkle = { path = "../crypto/merkle" }
consensus-core = { path = "./core" }
kaspa-core = { path = "../core" }

[dev-dependencies]
criterion = "0.3.6"
serde_json = "1.0"
flate2 = "1.0.24"
rand = "0.8"
rand_distr = "0.4.3"
tokio = { version = "1.20.1", features = ["full"] }

[[bench]]
name = "hash_benchmarks"
harness = false

[features]
html_reports = []
