[package]
name = "kaspa-consensus"
description = "Kaspa consensus library"
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true

[dependencies]
kaspa-pow.workspace = true
kaspa-math.workspace = true
kaspa-hashes.workspace = true
kaspa-merkle.workspace = true
kaspa-core.workspace = true
kaspa-notify.workspace = true
kaspa-consensus-core.workspace = true
kaspa-consensus-notify.workspace = true
faster-hex.workspace = true
thiserror.workspace = true
serde.workspace = true
itertools.workspace = true
futures-util.workspace = true
tokio.workspace = true
bincode.workspace = true
rayon.workspace = true
# rand.workspace = true
indexmap.workspace = true
smallvec.workspace = true
kaspa-utils.workspace = true
log.workspace = true
kaspa-muhash.workspace = true
parking_lot.workspace = true
kaspa-txscript.workspace = true
rocksdb.workspace = true
kaspa-database.workspace = true
kaspa-consensusmanager.workspace = true
once_cell.workspace = true

crossbeam-channel.workspace = true
async-channel.workspace = true
secp256k1.workspace = true

rand = { workspace = true, features = ["small_rng"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
tokio = { workspace = true, features = ["rt", "macros"] }

[dev-dependencies]
criterion.workspace = true
serde_json.workspace = true
flate2.workspace = true
rand_distr.workspace = true
kaspa-txscript-errors.workspace = true

[[bench]]
name = "hash_benchmarks"
harness = false

[features]
html_reports = []
devnet-prealloc = ["kaspa-consensus-core/devnet-prealloc"]
