name: Tests

on: [push, pull_request]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install protoc
        run: sudo apt install -y protobuf-compiler

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run cargo check
        run: cargo check --tests --workspace --benches

  test:
    name: Test Suite
    # runs-on: ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # matrix:
      #   os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Fix CRLF on Windows
        if: runner.os == 'Windows'
        run: git config --global core.autocrlf false

      - name: Install protoc
        run: sudo apt install -y protobuf-compiler

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run cargo test regular features
        run: cargo test --workspace

      - name: Run cargo test on kaspa-hashes without asm
        run: cargo test -p kaspa-hashes --features=no-asm --benches

  # test-release:
  #   name: Test Suite Release
  #   runs-on: ${{ matrix.os }}

  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: [ ubuntu-latest, macos-latest, windows-latest ]
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v2

  #     - name: Fix CRLF on Windows
  #       if: runner.os == 'Windows'
  #       run: git config --global core.autocrlf false

  #     - name: Install protoc
  #       run: sudo apt install -y protobuf-compiler

  #     - name: Install stable toolchain
  #       uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #         toolchain: stable
  #         override: true

  #     - name: Cache
  #       uses: actions/cache@v3
  #       with:
  #         path: |
  #           ~/.cargo/bin/
  #           ~/.cargo/registry/index/
  #           ~/.cargo/registry/cache/
  #           ~/.cargo/git/db/
  #           target/
  #         key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

  #     - name: Run cargo test release regular features
  #       uses: actions-rs/cargo@v1
  #       with:
  #         command: test
  #         args: --release

  #     - name: Run cargo test release on hashes without asm
  #       uses: actions-rs/cargo@v1
  #       with:
  #         command: test
  #         args: -p hashes --features=no-asm --benches --release

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install protoc
        run: sudo apt install -y protobuf-compiler

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy --workspace --tests --benches -- -D warnings


  check-wasm32:
    name: Check Wasm32
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install protoc
        run: sudo apt install -y protobuf-compiler

      - name: Install llvm
        run: wget https://apt.llvm.org/llvm.sh
      - run: chmod +x llvm.sh
      - run: sudo ./llvm.sh all

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Add wasm32 target
        run: rustup target add wasm32-unknown-unknown

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      # append here any new wasm32 crate not already covered by the existing checks

      - name: Run cargo check of kaspa-wrpc-wasm for wasm32 target
        run: cargo clippy -p kaspa-wrpc-wasm --target wasm32-unknown-unknown

      - name: Run cargo check of kaspa-wallet-cli-wasm for wasm32 target
        run: cargo clippy -p kaspa-wallet-cli-wasm --target wasm32-unknown-unknown

      - name: Run cargo check of kaspa-wasm for wasm32 target
        run: cargo clippy -p kaspa-wasm --target wasm32-unknown-unknown

  build-test-wasm32:
    name: Build & Test Wasm32
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install protoc
        run: sudo apt install -y protobuf-compiler

      - name: Install llvm
        run: wget https://apt.llvm.org/llvm.sh
      - run: chmod +x llvm.sh
      - run: sudo ./llvm.sh all

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Add wasm32 target
        run: rustup target add wasm32-unknown-unknown

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build wasm-pack for Node.js
        run: cd wasm && wasm-pack build --target nodejs --out-dir testing/kaspa --features full
 
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install needed modules for unit tests
        working-directory: ./wasm/testing
        run: npm install

      - name: Run unit tests for Node.js
        working-directory: ./wasm/testing
        run: npm test

      - name: Upload WASM binary to GitHub
        uses: actions/upload-artifact@v3
        with:
          name: wasm-binary
          path: wasm/testing/kaspa/



