[package]
name = "zk-covenant-rollup-core"
rust-version.workspace = true
version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true
include.workspace = true

[features]
default = []
std = []

[dependencies]
bytemuck = { workspace = true, features = ["derive"]}
sha2 = { version = "=0.10.9", default-features = false }
blake3 = { workspace = true }
blake2b_simd = { version = "1.0.2", default-features = false }

[lints]
workspace = true

[dev-dependencies]
kaspa-hashes.workspace = true
kaspa-merkle.workspace = true
